@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: all 0.3s ease 0s;
}

:root {
    --LightTheme: #edf1f4;
    --LightGlow: #fffb;
    --LightShadow: rgba(0,0,0,0.1);

    --DarkTheme: #282c2f;
    --DarkGlow: rgba(255,255,255,0.05);
    --DarkShadow: rgba(0,0,0,0.25);
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    font-family: 'Roboto Condensed', sans-serif;
}

#light .body {
    background: var(--LightTheme);
}
#dark .body {
    background: var(--DarkTheme);
}