.switcher {
    position: absolute;
    top: -60px;
    right: 20px;

    width: 90px;
    height: 90px;

    user-select: none;
}

.round {
    display: flex;
    justify-content: center;

    position: relative;
    width: inherit;
    height: inherit;

    border-radius: 50%;
}

#light .round {
    background: var(--LightTheme);

    transform: rotate(180deg);
}


#dark .round {
    background: var(--DarkTheme);

}

.round > * {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    cursor: pointer;
}

#light .round > * {
    background: var(--LightTheme);

    box-shadow: 3px 3px 6px var(--LightShadow),
    -3px -3px 6px var(--LightGlow);
}

#dark .round > * {
    background: var(--DarkTheme);

    box-shadow: 3px 3px 6px var(--DarkShadow),
    -3px -3px 6px var(--DarkGlow);
}

img {
    width: 60%;
    height: 60%;
}

.moon {
    transform: scale(-1, 1) rotate(40deg);

    top: -20px;
}

.sun {
    bottom: -20px;
}